.loader {
  padding: 100px 5vw 0px;
}

.loader-row {
  margin-bottom: 20px;
}
.loader-row-title {
  height: 40px;
  width: 50%;
  max-width: 300px;
  background-color: rgb(31, 31, 31);
  border-radius: 5px;
}

.loader-body {
  overflow: scroll;
  margin: 10px 0px 50px;
}
.loader-body-inner {
  display: flex;
  gap: 10px;
  width: max-content;
}
.loader-card {
  height: 120px;
  width: 200px;
  background-color: rgba(31, 31, 31, 0.416);
  border-radius: 5px;
  backdrop-filter: blur(10px);
}
