.movies-page {
  background-color: #141414;
  min-height: 100vh;
  position: relative;
  padding-bottom: 100px;
}
.movies-body {
  position: relative;
  z-index: 100000;
  margin-top: -100px;
  color: silver;
}
